parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:getTranslatableAttributes\\(\\)\\.$#"
			count: 3
			path: src/Actions/TranslatableAction.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatable\\(\\)\\.$#"
			count: 3
			path: src/Actions/TranslatableAction.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$translations\\.$#"
			count: 1
			path: src/Actions/TranslatableModel.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$relation\\.$#"
			count: 1
			path: src/Actions/TranslatableModel.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Translate\\\\Models\\\\Attribute\\:\\:updateOrCreate\\(\\)\\.$#"
			count: 1
			path: src/Actions/TranslatableModel.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$fields\\.$#"
			count: 2
			path: src/Classes/EventRegistry.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$secondaryTabs\\.$#"
			count: 2
			path: src/Classes/EventRegistry.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tabs\\.$#"
			count: 2
			path: src/Classes/EventRegistry.php

		-
			message: "#^Call to static method extend\\(\\) on an unknown class Igniter\\\\Pages\\\\Models\\\\MenuItem\\.$#"
			count: 1
			path: src/Classes/EventRegistry.php

		-
			message: "#^Call to static method extend\\(\\) on an unknown class Igniter\\\\Pages\\\\Models\\\\Page\\.$#"
			count: 1
			path: src/Classes/EventRegistry.php

		-
			message: "#^Cannot call method getTranslatableAttributes\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Classes/EventRegistry.php

		-
			message: "#^Cannot call method hasTranslatableAttributes\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Classes/EventRegistry.php

		-
			message: "#^Class Igniter\\\\Pages\\\\Classes\\\\Page not found\\.$#"
			count: 1
			path: src/Classes/EventRegistry.php

		-
			message: "#^Static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:listen\\(\\) invoked with 3 parameters, 1\\-2 required\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:setAttributeTranslatedValue\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLMarkdownEditor.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatableNoFallbackLocale\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLMarkdownEditor.php

		-
			message: "#^Cannot access property \\$code on string\\.$#"
			count: 2
			path: src/FormWidgets/TRLMarkdownEditor.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:setAttributeTranslatedValue\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLRepeater.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatableNoFallbackLocale\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLRepeater.php

		-
			message: "#^Cannot access property \\$code on string\\.$#"
			count: 1
			path: src/FormWidgets/TRLRepeater.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:setAttributeTranslatedValue\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLRichEditor.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatableNoFallbackLocale\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLRichEditor.php

		-
			message: "#^Cannot access property \\$code on string\\.$#"
			count: 2
			path: src/FormWidgets/TRLRichEditor.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:setAttributeTranslatedValue\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLText.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatableNoFallbackLocale\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLText.php

		-
			message: "#^Cannot access property \\$code on string\\.$#"
			count: 2
			path: src/FormWidgets/TRLText.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:setAttributeTranslatedValue\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLTextarea.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:translatableNoFallbackLocale\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/TRLTextarea.php

		-
			message: "#^Cannot access property \\$code on string\\.$#"
			count: 2
			path: src/FormWidgets/TRLTextarea.php
