.locale-picker-form {
  padding: 0.7rem 0.5rem;
  height: 100%;
  display: flex;
}

.locale-picker-form .locale-picker {
  border: none;
  box-shadow: none;
  color: var(--bs-primary);
  border-inline-start: 1px solid var(--bs-gray-100);
  color: var(--primary);
  border-inline-start: 1px solid var(--light);
  border-radius: 0;
  padding: 0 0.5em;
}
